-- Se connecter en admin
ALTER SESSION SET CONTAINER = XEPDB1;

-- Création des schémas
CREATE USER APP1 IDENTIFIED BY Pass123
DEFAULT TABLESPACE USERS
TEMPORARY TABLESPACE TEMP
QUOTA UNLIMITED ON USERS;

GRANT CONNECT, RESOURCE TO APP1;

CREATE USER APP2 IDENTIFIED BY Pass123
DEFAULT TABLESPACE USERS
TEMPORARY TABLESPACE TEMP
QUOTA UNLIMITED ON USERS;

GRANT CONNECT, RESOURCE TO APP2;
