version: '2'
services:

  broker:
    image: confluentinc/confluent-local:7.4.1
    hostname: broker
    container_name: broker
    ports:
      - "8082:8082"
      - "9092:9092"   # PLAINTEXT pour le host
      - "9093:9093"   # SSL pour le host
      - "9101:9101"
    environment:
      KAFKA_LISTENERS: >
        PLAINTEXT://broker:29092,
        CONTROLLER://broker:29093,
        PLAINTEXT_HOST://0.0.0.0:9092,
        SSL_HOST://0.0.0.0:9093

      KAFKA_ADVERTISED_LISTENERS: >
        PLAINTEXT://broker:29092,
        PLAINTEXT_HOST://localhost:9092,
        SSL_HOST://localhost:9093

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: >
        PLAINTEXT:PLAINTEXT,
        PLAINTEXT_HOST:PLAINTEXT,
        SSL_HOST:SSL,
        CONTROLLER:PLAINTEXT

      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:29093'
